.about{
    background-color: var(--GrayishBlue);
    color: var(--VeryDarkBlue);
    min-height: calc(100dvh - 90px);
    display: flex;
    flex-wrap: wrap;
}
.about__main{
    flex-grow: 9999;
    flex-basis: 500px;
    padding-inline: min(2vw, 2rem);
    align-self: center;
}
.about__right{
    flex-grow: 1;
    flex-basis: 400px;
    background-image: url('../assets/images/about.webp');
    background-position: right top;
    background-size: cover;
}
.about__title{
    font-size: var(--step-6);
    color: var(--VeryDarkBlue);
    font-family: var(--ff-alt);
    margin-top: 3rem;
}
.about__text{
    font-size: var(--step-1);
}
.about__figure{
    max-width: 20rem;
}
.about__figure img{
    aspect-ratio: 3 / 2;
    z-index: -1;
}
.overlay{
    border-image: fill 0 linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0.5));
}