.banner{
    background-color: var(--LightGrayishBlue);
    min-height: 100px;
    display: grid;
    place-items: center;
    margin-bottom: 2rem;
    text-align: center;
    padding-inline: 1rem;
}
.banner--women{
    background-color: #E3E4E5;
    color: var(--VeryDarkBlue);
}
.banner--men{
    background-color: #E3E4E5;
    color: var(--VeryDarkBlue);
}
.banner__title{
    font-size: var(--step-3);
}
