.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min(250px, 100%), 1fr));
    gap: 2rem;
}
.product__content{
    display: flex;
    flex-direction: column;
}
.product__title{
    color: var(--VeryDarkBlue);
    font-size: var(--step-4);
}
.product__brand{
    color: var(--Orange);
    font-weight: 600;
    font-size: var(--step-0);
}
.product__description{
    color: var(--DarkGrayishBlue);
}
.product__price{
    margin-block: 1rem;
    font-weight: 700;
    color: var(--VeryDarkBlue);
    font-size: var(--step-2);
}
.product__price :is(span){
    font-weight: 400;
    font-size: var(--step-0);
}
.product__bottom{
    display: flex;
    margin-block-start: auto;
    gap: 1rem;
}
.product__bottom > *{
    flex: 1;
}
.counter{
    background-color: #f2f2f2;
    border-radius: var(--radius-xs);
    display: flex;
    flex: 1;
}
.counter :is(button, p){
    background-color: transparent;
    border: none;
    flex-grow: 1;
    margin-bottom: 0;
    height: 100%;
    display: grid;
    place-items: center;
}
@media (max-width: 500px){ 
    .product__bottom{
        flex-direction: column;
    }
    .counter :is(button, p){
        height: auto;
    }
}